@charset "ISO-8859-1";
#profile{
    background-color: rgb(71, 71, 71);
    color: white;
    }
.center_side{
    margin-top: 120px;
    display: flex;
}
.left_content img{
    width: 180px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 100px;
}
.left_content{

    width: 45%;
    padding: 10px;
    border-radius: 10px;
    height: 75%;

}
.left_content >h2{
   font-size: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.bio{
    box-sizing: border-box;
    padding:20px  40px;
}
.bio h3{
    font-size: 20px;

}
.bio p{
    
box-shadow: rgb(146, 146, 146) -15px 0px 15px -15px;
    padding: 15px;
    margin-top: 10px;
}
.bio p:hover{
    background-color: rgb(67, 67, 67);
    color: white;
    transition: .7s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgb(146, 146, 146) -15px 0px 15px -15px;
}
.right_content,.right_content1{
    width: 55%;
    height: 75%;
    /* margin: auto 0px; */
    padding: 10px;
    position: relative;
    margin-top: 50px;
}
.right_content> p, .form > p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(67, 67, 67);
    margin: 20px auto;
    font-size: 14px;
    font-weight: 1000;
}
.right_content span{
    width: 63%;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 5px;
}
.right_content span:hover{
    background-color: rgb(67, 67, 67);
    color: white;
    transition: .7s;
    cursor: pointer;
}
.right_content1{
    display: none;
}
#edit img{
    width: 50px;
}
#save img{
    width: 35px;
}
#edit, #save {
  position:absolute;
  bottom: 30px ;
  right: 15px;
   width: 70px;
   height: 70px;
    border-radius: 50%;
    cursor: pointer;
  background:linear-gradient(to right,#513bd3,#7c6bf6);
    color: #fff;
    border: none;
    transition: all .4s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   
#edit:hover,#save:hover {
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
#edit:active, #save:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }

   /* ------------js--------- */

.right_content1 form p input{
    width: 63%;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(38, 38, 38);
}
.not_view{
    display: none;
}
.view{
    display: block;
}
/* budget input */
datalist {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* writing-mode: vertical-lr; */
    width: 90%;
    font-weight: 600;
    color: rgb(60, 60, 60);
    font-size: 12px;

  }
  #budget{
    display: flex;
    justify-content: space-between;
  }
  #budget_input{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 63%;
  }
  #budget_input input,  #budget_input datalist{
    width: 100%;

  }
  #budget p{
    color: rgb(67, 67, 67);
    margin: 10px 0;
    font-size: 14px;
    font-weight: 1000;
  }