@charset "ISO-8859-1";
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #639bc4;
    /* background: #f2d14f; */
    border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
 input{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    padding: 5px 10px;
  }
 input:focus{
     outline: 1px solid grey;
  }
/* ----------Header nav---------- */
header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: #f2f4f7; */
    background-color: white;
    background-color: #f0f1f1;

    border-radius: 0px 0px 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

nav a {
    /* color: rgb(88, 88, 88); */
    font-size: 15px;
    display: flex;

    align-items: center;
}

nav a img {
    width: 35px;

}

nav a span {
    margin: 8px 0px 0px 8px;
    color: #1d1d1d;
    font-weight: 600;
}

nav>img {
    width: 145px;
    margin-left: 10px;
}

#search {
    background-image: url(../images/icons/search.png);
    background-size: 22px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px;
    width: 30%;
    border-width: 0px 0px 1.5px 0px;
    margin-right: 30px;
    /* background-color: #f2f4f7; */
    background-color: #f0f1f1;

    

}

#search:focus {
    outline: none;
}

.nav_right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

#log_out {
    cursor: pointer;
    padding: 10px 13px;
    border-radius: 50%;
}

#log_out:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#log_out img {
    width: 30px;
}

/* Date ------ */
#date img {
    width: 25px;
    margin: 0px 3px;
}

#date {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    color: rgb(50, 50, 50);
}

/* -----------Main Content Starts--------- */
main {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.left_side {
    width: 12%;
    margin-top: 40px;
    height: 750px;

}

.left_side .tabs {
    padding-top: 20px ;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border-radius: 0px 20px 20px 0px; */
    background-color: #f0f1f1;
    height: 100%;
box-sizing: border-box;
}

.tabs a {
    /* width: 100px; */
    width: 130px;
    padding: 10px 25px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content:center;
    /* border-radius: 20px; */
    margin-bottom: 30px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.tabs a img {
    width: 30px;
    margin:0px 10px  0px 5px;

}

#homeicon {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f0f1f1; */
    background-color: rgb(70, 71, 72);
    color: white;
}

/* -----------Center Content div------------ */
.center_side {
    padding: 20px;
    box-sizing: border-box;
    width: 60%;
    margin-top: 110px;
    overflow-y: hidden;
    max-height: 780px;
    overflow-y: scroll;
    scrollbar-width: 5px;


}

.center_side>h3 {
    color: grey;
}

#homechart {
    max-width: 500px;
}

.homestats {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f4f7;
    border-radius: 5px;
}

#homechart {
    display: flex;
    border: solid GREY;
    border-width: 0px 0px 2px 0px;
    width: 45%;
    height: 250px;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 40px;
}

#homechart p {
    font-size: 11px;
    margin-bottom: 3px;
}

.chart_bars {
    width: 50px;
    /* height: 200px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 2s ease;
}
.div{
    position: relative;
}
.hover_para{
    background-color: white;
    position: absolute;
    top: 40px;
    left: 8px;
    width:45px;
    padding: 1px 2px;
    font-size: 10px;
    text-align: center;
    border-radius: 3px;
}

#homechart .chart_div:nth-of-type(1) .chart_bars {
    /* height: 150px; */
    background-color: #0075ff;
}

#homechart .chart_div:nth-of-type(2) .chart_bars {
    /* height: 150px; */
    background-color: #f4d660;
}

#homechart .chart_div:nth-of-type(3) .chart_bars {
    /* height: 150px; */
    background-color: #e76967;
}

.chart_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    position: relative;
    /* border: 1px solid black; */
    /* height: 90%; */

}

.add {
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats {
    display: flex;
}

.stats h4,
.stats p {
    margin: 0px 10px;
    font-weight: 600;
    font-size: 14px;
}

.stats p span {
    color: #306388;
}

.stats span {
    font-size: 15px;
}

.add h4:nth-of-type(1) span {
    color: #e76967;
}

.add h4:nth-of-type(2) span {
    color: rgb(91, 197, 91);
}

.add div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add button {
    background-color: #f4d660;
    padding: 8px;
    border-radius: 5px;
    border-width: 0px;
    margin-right: 10px;
    cursor: pointer;
}

.add img {
    width: 25px;
}

.home_transactions {
    margin-top: 40px;
}

/* Setting budget div----------------------- */
.budget_div {
    position: fixed;
    top: 130px;
    left: 500px;
    width: 500px;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    z-index: 5;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

.budget_div hr {
    margin-top: 7px;
}

.budget_div input {
    width: 90%;
    margin: 0px auto;
}

.budget_div>p:nth-of-type(1) {
    font-size: 14px;
    font-weight: 600;
    color: #363232;
    margin: 10px 0px;
}

.budget_div>p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 600;
    color: #363232;
    margin: 10px 0px;
}

.budget_div>p:nth-of-type(3) {
    width: 20%;
    margin: 10px auto;
    font-size: 15px;
    background-color: #0075ff;
    color: white;
    padding: 5px 0px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}

#selected_budget {
    font-size: 16px;
    color: #0075ff;
}

datalist {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* writing-mode: vertical-lr; */
    width: 90%;
    font-weight: 600;
    color: rgb(60, 60, 60);
    font-size: 12px;

}

.budget_note {
    margin: 10px 0px;
    color: red;

}

.budget_note span {
    font-size: 12px;
    font-weight: 600;
}

.budget_note p {
    font-size: 12px;

}

/*---------------- Adding income form -------------*/
/* .add_expense_form {
    top: 20%;
    height: 510px;
} */
.add_income_form,
.add_expense_form {
    width: 23%;
    padding: 20px;
    border-radius: 5px;
    height: 470px;
    max-height: 750px;
    position: fixed;
    top: 23%;
    left: 35%;
    background-color: white;
    transition: 1s;
    display: none;
    border-radius: 10px;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.add_expense_form {
    display: none;
}

.add_income_form h2,
.add_expense_form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.add_income_form label,
.add_expense_form label {
    color: rgb(68, 68, 68);
}

#income_type,
#income_amount,
#expense_type,
#expense_amount {
    padding: 10px 15px;
    width: 80%;
    border: solid black;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 10px 10px -15px #111;
    margin: 10px 0px 30px 20px;
    font-weight: 400;

}

.button_div {
    display: flex;
    justify-content: space-between;
}

.button_div button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
}

.add_income_form input:focus,
.add_expense_form input:focus {
    outline: none;
}

.add_income_form button:nth-of-type(1) {
    background-color: rgb(94, 211, 94);
    color: white;
}

.add_expense_form button:nth-of-type(1) {
    background-color: rgb(211, 81, 81);
    color: white;
}

#back_button {
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #4d8ab6;
    color: white;
}

.income_category,
.expense_category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0px;
}

.income_category label,
.expense_category label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0px 10px;
    margin-top: 15px;
}

.income_category input,
.expense_category input {
    border: 1px solid black;
    margin-right: 5px;

}

/* ------------------Home table------------------ */

.home_transactions table {
    width: 85%;
    border-spacing: 0px 20px;
    text-align: center;
    margin: 0px auto;
    font-size:14px;

}

.home_transactions table tr {
    box-shadow: 0px .1px 0px black;
}

.home_transactions table tr td {
    padding: 6px 0px;
    font-weight: 500;
}

table tr td:nth-of-type(2) {
    color: #454545;
}

.home_transactions table tr td:nth-child(2) span {
    font-size: 12px;
    color: grey;
}

#expense {
    color: rgb(233, 76, 76);
}

#income {
    color: rgb(54, 208, 54);
}

#balance {
    color: #4d8ab6;
}

#edit_icon img {
    width: 33px;
}

#delete_icon img {
    width: 28px;
}

/* --------------Right Side Content --------------- */

.right_side {
    width: 22%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}


.right_side_1 {

    margin-top: 220px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5da2d4;
    color: #f9f7f2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.right_side_1 .profile {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    top: 140px;
}

.profile img {
    width: 100%;
    border-radius: 10px;

}

.right_side_1 h2 {
    margin-top: 50px;
    font-weight: 600;
}

.right_side_1 .this_month {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}

.total_balance,
.total_expense,
.total_income {
    width: 64%;
    height: 80px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 15px;
    background-color: #ececec;
    color: #4d8ab6;

}

:is(.total_balance, .total_expense, .total_income) h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

:is(.total_balance, .total_expense, .total_income) p {
    color: #306388;
    font-weight: 650;
}

.total_balance h1 {
    color: rgb(111, 201, 111);
}

.total_expense h1 {
    color: #dd7a79;
}

/* --------Log out remember me---------- */

.log_out_div {
    position: fixed;
    top: 65px;
    right: 8px;
    width: 130px;
    height: 80px;
    /* border: 1px solid black; */
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}

.log_out_div button {
    margin: 10px auto;
    display: block;
    background-color: #EE4B2B;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
}

.log_out_div input {
    margin-right: 3px;
}

.view {
    display: block;
}

.flex {
    display: flex;
}

/*  Nothing to show cssssssssss */
.nothing_to_show{
    text-align: center;
    color: grey;
    font-weight: 700;
    letter-spacing: 3px;
    width: 80%;
    opacity: .9;
    padding: 30px;
    margin: 50px auto;
    box-sizing: border-box;
    background-color: whitesmoke;

}
.nothing_to_show img{
    width: 150px;
    margin: 20px 0px;
}

